{% extends "base.html" %}

{% block free %}

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert" style="margin-top: 2%;">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<div class="container mt-4">
    <div class="table-container">
        <h2 class="text-center mb-4">User Answers</h2>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Username</th>
                    <th>Favorite Team</th>
                    <th>Favorite Topic</th>
                    <th>Comfort Level</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_data %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.favorite_team }}</td>
                    <td>{{ user.favorite_topic }}</td>
                    <td>{{ user.comfort_level }}</td>
                    <td>
                        {% if user.completed %}
                        <span class="badge badge-success">Completed</span>
                        {% else %}
                        <span class="badge badge-secondary">Not Filled</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.result_id %}
                        

                        <form method="POST" action="{% url 'view_detailed_answers' user.result_id %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-sm">View More</button>
                        </form>

                        <form method="POST" action="{% url 'reset_answers' user.result_id %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning btn-sm">Reset</button>
                        </form>
                        {% endif %}
                        <form method="POST" action="{% url 'delete_user' user.id %}" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete this account?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>


{% endblock %}
